<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KukaCanvas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4 text-center">KukaCanvas</h1>
        <div class="row">
            <div class="col-md-6">
                <form action="/upload" method="post" enctype="multipart/form-data" class="mb-4">
                    <div class="form-group">
                        <label for="file">Upload PNG file:</label>
                        <input type="file" class="form-control-file" id="file" name="file" accept=".png">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
                <form action="/update_preprocessing" method="post" class="mb-4">
                    <div class="form-group">
                        <label for="blur_intensity">Blur Intensity:</label>
                        <input type="number" class="form-control" id="blur_intensity" name="blur_intensity" value="{{ preprocessing_options.blur_intensity }}" min="1" max="15">
                    </div>
                    <div class="form-group">
                        <label for="threshold_block_size">Threshold Block Size:</label>
                        <input type="number" class="form-control" id="threshold_block_size" name="threshold_block_size" value="{{ preprocessing_options.threshold_block_size }}" min="3" max="15">
                    </div>
                    <div class="form-group">
                        <label for="threshold_C">Threshold C:</label>
                        <input type="number" class="form-control" id="threshold_C" name="threshold_C" value="{{ preprocessing_options.threshold_C }}" min="1" max="10">
                    </div>
                    <button type="submit" class="btn btn-secondary">Update Preprocessing</button>
                </form>
                <form action="/remove_contour" method="post" class="mb-4">
                    <div class="form-group">
                        <label for="contour_index">Number of Contour to Remove:</label>
                        <input type="number" class="form-control" id="contour_index" name="contour_index" min="0">
                    </div>
                    <button type="submit" class="btn btn-danger">Remove Contour</button>
                </form>
            </div>
            <div class="col-md-6">
                <iframe name="plot_frame" id="plot-iframe" src="/plot" width="100%" height="500px" class="border"></iframe>
                <div class="d-flex justify-content-between mt-4">
                    <form action="/undo" method="post">
                        <button type="submit" class="btn btn-info">Undo</button>
                    </form>
                    <form action="/redo" method="post">
                        <button type="submit" class="btn btn-info">Redo</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <form id="convert-form" action="/convert" method="post">
                    <button id="convert-button" type="submit" class="btn btn-success">Convert to KRL</button>
                </form>
                <h2>KRL Script:</h2>
                <textarea id="krl_text_area" class="form-control mb-2" rows="10" onchange="updateKRL()">{{ krl_script }}</textarea>
                <button class="btn btn-secondary" onclick="copyToClipboard()">Copy to Clipboard</button>
                <a href="/download_krl" class="btn btn-info" download="draw.src">Download KRL Script</a>
            </div>
        </div>
    </div>
    <script>
        function copyToClipboard() {
            var copyText = document.getElementById("krl_text_area");
            copyText.select();
            document.execCommand("copy");
        }
        function updateKRL() {
            const krlScript = document.getElementById('krl_text_area').value;
            fetch('/update_krl', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'krl_script': krlScript
                })
            });
        }
        function extractFigureFromIframe(iframeId) {
            var iframe = document.getElementById(iframeId);
            if (iframe) {
                var iframeDocument = iframe.contentDocument || iframe.contentWindow.document;
                var plotlyGraphDiv = iframeDocument.querySelector('.plotly-graph-div');
                if (plotlyGraphDiv) {
                    var fig = plotlyGraphDiv.data;
                    return fig;
                } else {
                    console.error('Plotly graph div not found in iframe.');
                    return null;
                }
            } else {
                console.error('Iframe not found.');
                return null;
            }
        }
        function updateFigOnClick() {
            var fig = extractFigureFromIframe('plot-iframe');
            if (fig) {
                fetch('/update_fig', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ fig: JSON.stringify(fig) })
                }).then(response => {
                    if (!response.ok) {
                        console.error('Failed to update fig.');
                    }
                });
            } else {
                console.error('Failed to extract figure from iframe.');
            }
        }
        document.getElementById('plot-iframe').addEventListener('load', function() {
            var iframe = document.getElementById('plot-iframe');
            var iframeDocument = iframe.contentDocument || iframe.contentWindow.document;
            var plotlyGraphDiv = iframeDocument.querySelector('.plotly-graph-div');
            plotlyGraphDiv.addEventListener('click', function() {
            updateFigOnClick();
            Plotly.toImage(plotlyGraphDiv).then(function(dataUrl) {
                fetch('/update_fig', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ fig: JSON.stringify(plotlyGraphDiv.data) })
                }).then(response => {
                    if (!response.ok) {
                        console.error('Failed to update fig.');
                    }
                });
            });
            });
        });
    </script>
</body>
</html>